* {
    font-family: "Gluten", cursive;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url("../imgs/wp10955414-cake-shop-wallpapers.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.container {
    background-color: rgb(247, 222, 140, .8);
    border-radius: 5%;
    box-shadow: 0px 3px 10px black;
}

.container > h1 {
    font-size: 6vmin;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    margin: 1.5vmin 2vmin 2vmin 2vmin;
}

h2 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }

#spacecat {
    width: 23vmin;
}

#happy-cat-img {
    height: 33vmin;
    width: 23vmin;
}

.hidden {
    display: none;
}

.letters {
    font-size: 3vmin;
    color: white;
    background-color: rgb(123, 131, 100);
    border: .1vmin solid grey;
    border-radius: 50%;
    padding: .6vmin;
    cursor: pointer;
}

#reset, #continue {
    color: white;
    background-color: rgb(123, 131, 100);
    border: .18vmin solid rgb(83, 81, 81);
    border-radius: 50%;
    padding: .6vmin;
    margin-bottom: 1vmin;
    cursor: pointer;
}

#reset:hover {
    color: rgb(123, 131, 100);
    background-color: white;
}

#continue:hover {
    color: rgb(123, 131, 100);
    background-color: white;
}

#mystery-word {
    font-size: 5vmin;
    margin-top: 1vmin;
    margin-bottom: 2vmin;
    letter-spacing: .5vmin;
}

button:hover {
    color: rgb(123, 131, 100);
    background-color: white;
}

button:disabled {
    opacity: .3;
}